@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
 
body {
    margin:0;
    padding:0;
    font-family: "Noto Sans Japanese"; 
    color:darkslategray;
    font-weight: lighter;
}

.button{
    margin: -120px auto 32px;
    text-align: center;  
}
.button a{
    text-decoration: none;
    color:darkslategray;
}


#top h1{
    margin:64px auto;
    text-align: center;
    font-weight: lighter;
    font-size: 64px;

}

.index{
    width:70%;
    margin:0 auto;
    display: flex; 
    justify-content: space-between;
}

.prf{
    width: 33.33333333%;
    padding:32px 32px;
    border-radius: 10px;
    background-color: teal;
    font-size:24px;
    text-align:center;
    list-style-type: none;
}

.prf a{
    text-decoration: none;
    color:white;
}
.prf:hover{
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}
.protitle{
    margin: -8px auto;
    text-align: center;
    padding-top: 32px;   
}

#profile{
    margin:-64px auto 64px;
    text-align: center;
    background: moccasin;
    padding: 60px;
    font-weight: lighter;
}

#profile .info{
    text-align: left;
    margin:auto;
    width:350px;

}

#profile img{
    border-radius: 50%;
    border-color: teal;
    border-style: dotted;
    border-width: 4px;
    width: 300px;
}
#profile a{
    text-decoration: none;
    color:darkslategrey;
    text-align: center;
}

#works{
    margin:12px auto 140px;
    text-align: center;
}

#works img{
    width:200px;
}
#works .info{
    margin:0 auto;
    margin-bottom: 64px;
    width: 250px;
    text-align: left;
}
#works .web-page h3{
    font-weight: normal;
}

#works .pic a{
    width:70% ;
} 

/* #works .pic a{
    display: inline-block;
    width: 45%;
} */

#works .info a{
    color:darkred;
    font-weight: lighter;
}

#skills{
    margin:-72px auto 62px;
    text-align: center;
    background: moccasin;
    padding:48px;
    font-weight: lighter;
}

.box{
    margin: 24px auto;
    padding:12px;
    width:350px;
    font-weight: lighter;
    background-color: teal;
    color: white;
    border-left:5px solid white ;
    text-align: left;
}

.box a{
    color:darkred;
    font-weight: normal;   
}
.message{
    margin:64px auto;
    width:350px;
}
#lightbox .lb-container { padding: 3px; }
#lightbox .lb-container { padding: 0px; }
#lightbox .lb-outerContainer { padding: 6px; }

@media (max-width: 460px) {
    .lum-lightbox-inner img {
        max-width: 100%;
        max-height: 100%;
    }
  }
  
@media (min-width :900px) {
    #profile{
        display: flex;
        width :800px;
    }
    #profile pic{
        width: 40%;
        margin-right: 20px;
    }
    #profile info{
        width: 60%;
        align-self: auto;
    }
    #works{
        display: flex;
        width :800px;
        justify-content: space-between;
    }
    #works .web-page{
        width: 33.33333333%;

    }

    #skills{
        display: flex;
        width :800px;
    }
    #skills .box{
        width: 50%;
        margin:10px;
    }



}