@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
 
body {
    margin:0;
    padding:0;
    font-family: "Noto Sans Japanese"; 
    color:darkslategray;
    font-weight: lighter;
}

.button{
    margin:0 auto;
    text-align: center; 
    padding:32px 0px;
}
.button a{
    text-decoration: none;
    color:darkslategray;
}


#top h1{
    margin:32px auto;
    text-align: center;
    font-weight: lighter;
    font-size: 32px;

}

.index{
    width:100%;
    margin:0 auto;
    display: flex; 
}

.prf{
    width: 32%;
    margin:0 1%;
    padding:5%;
    border-radius: 10%;
    background-color: teal;
    text-align:center;
    list-style-type: none;
}




.prf a{
    text-decoration: none;
    color:white;
}
.prf:hover{
    opacity: 0.7;
    transition: all 0.3s ease 0s;
}


.block1{
    margin:0;
    text-align: center;
    background: moccasin;
}

.block2{
    margin:0;
    text-align: center;
}


#profile .info{
    margin:0 auto ;
    text-align: left;
    width:70%;

}

#profile img{
    border-radius: 50%;
    border-color: teal;
    border-style: dotted;
    border-width: 4px;
    width: 200px;
}
#profile a{
    text-decoration: none;
    color:darkslategrey;
    text-align: center;
}

#works, #works2{
    margin:10px auto 0;
    text-align: center;
}

#works pic, #works2 pic{
    margin:0 auto;
    width:250px;
}


#works .info, #works2 .info {
    margin:0 auto;
    margin:0 auto 64px;
    width: 250px;
    text-align: left;
}
#works .web-page h3, #works2 .web-page h3{
    font-weight: normal;
}

.fukidashi {
    position   : relative;                /* 指定した分だけ相対的に移動 */
  }
  .fukidashi:hover .balloon {
    display: inline;                /* インライン要素として表示 */
  }
  .balloon {
    position   : absolute; 
    font-weight: normal;               /* 親要素を基準 */
    display: none;                        /* 要素を非表示 */
    padding: 2px;       
    color: darkslategray;                       /* テキストの前後の余白 */
    background-color: rgba(255, 127, 127, 0.9);       /* 背景色（透明度） */
    width:180px; 
    line-height: 2;                         /* 吹き出し全体の幅 */
    left : 30%;                           /* 表示位置 */
    bottom : 100%;                        /* 表示位置 */
    margin-bottom : 12px;                 /* 表示位置 */
    font-size: 100%;                       /* 文字サイズ */
  }
  .balloon:after{
    border-top: 12px solid rgba(255, 127, 127, 0.9);    /* 吹き出し口の高さ・色 */
    border-left: 10px solid transparent;    /* 吹き出し口の幅１／２ */
    border-right: 10px solid transparent;   /* 吹き出し口の幅１／２ */
    bottom: -12px;                          /* 吹き出し口の位置調整 */
    left : 5%;                              /* 吹き出し口の横位置 */
    content: "";                       /* コンテンツの挿入 */
    position: absolute;                /* 親要素を基準 */
  }


#works .info a, #works2 .info a{
    /* color:darkred; */
    color: darkslategray;
    font-weight: normal;
}


.box{
    margin: 24px auto;
    width:70%;
    padding:2%;
    font-weight: lighter;
    background-color: teal;
    color: white;
    border-left:5px solid white ;
    text-align: left;
}

.box a{
    color:darkred;
    font-weight: normal;   
}
.message{
    margin:64px auto;
    width:80%;
}

#mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
  }


#mask.hidden{
    display: none;
}

#open1 img, #open2 img, #open3 img, #open4 img, #open5 img, #open6 img{
    width:250px;
    cursor: pointer;

}

#modal1.hidden, #modal2.hidden, #modal3.hidden, #modal4.hidden, #modal5.hidden, #modal6.hidden{
    display: none;
}
#modal1, #modal2, #modal3, #modal4, #modal5, #modal6{
    position: fixed;
    transform: translate(-50%, -50%);
    width: 100%;
    left: 50%;
    position: absolute;
    margin: 0 auto;
    z-index: 2; 
  }
#modal1 img, #modal2 img, #modal3 img, #modal4 img, #modal5 img, #modal6 img{
    width: 80%;
    margin: 0 auto;
}

#close1, #close2, #close3, #close4, #close5, #close6 {
    cursor: pointer;
    opacity: 0.8;
    background: #333;
    color: white;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    padding: 12px 0;
    margin: 16px auto 0;
    z-index: 3;
}


@media (min-width: 460px) {

    .index{
	    width:460px;
	    margin:0 auto;
	    display: flex; 
	}

	.prf{
	    width: 460px;
	    margin:0 6px;
	    padding:23px;
	    border-radius: 10%;
	    background-color: teal;
	    text-align:center;
	    list-style-type: none;

}

    
    
  }
  
@media (min-width :900px) {
    #profile{
        display: flex;
        width :800px;
        margin:0 auto;
        justify-content: space-between;
        align-items: center;
    }
    #profile pic{
        width: 200px;
        padding: 50px;
    }
    #profile info{
        width: 630px ;
    }
    #works, #works2{
        display: flex;
        width :800px;
        margin:0 auto;
        /*justify-content: space-between;*/
    }
    #works .web-page, #works2 .web-page{
        width: 250px;
        padding:10px;
    }
    
     #skills {
       width:800px;
       display:flex;
       margin:0 auto;
    }

    #skills .box{
        width: 350px;
        padding:10px;
    }
   .message{
         width :640px;
   }
   
   .block1{
        width: 850px;
        margin:0 auto;
   }

   #modal1 img,  #modal2 img, #modal3 img, #modal4 img,  #modal5 img, #modal6 img{
    width: 640px;
    margin: 0 auto;
}



}
